<section class="page m-b-xlg">
    <div class="row" style="margin-left: 70px !important;margin-right: 40px !important;">
        <h2 class="green-text">About Us</h2>
        <!-- <div class="seperator m-b-lg">
            <span></span>
        </div> -->
        <p>

            <b>Our Purpose</b> – To help make purchase decision simpler for consumers in Africa.

        </p>
        <p>
            Here are a few things about Raytee
        </p>
        <ul class="about" style="list-style-type:disc !important;">
            <li>
                Raytee was founded in 2016 to help people find great and amazing brands like budding start-ups, mechanics, wedding planners, financial services, and many more.
            </li>
            <li>
                Raytee will also help you find notorious brands that consistently deliver bad service thereby saving time, money, and of course heartache.
            </li>
            <li>
                All users (Rayteers) including businesses can sign up for free and integrate Raytee into any online platform for timely feedback and reviews from customers
            </li>
            <li>
                With an estimated target of 1million reviews by Q1 2017, Raytee aims to deliver unparalleled support for brands and consumers
            </li>
            <li>
                In Q2 2017, Raytee will launch it analytics division “DataWave” to assist brands and investors make informed business decisions in Nigeria and across Africa 
            </li>
            <li>
                Raytee makes money from selling ads to local businesses – this doesn’t affect or reorder their reviews or ratings in anyway.
            </li>
            <li>
                Users can access Raytee via its most responsive website with its mobile apps for various platform coming on-stream in Q4 2016
            </li>
            <li>
                We have a vision to integrate all local businesses on Raytee in various Africa countries into a review powerhouse by Q1 2018.
            </li>
        </ul>
        <p>        
            Be a part of this journey.
        </p>
        <p>
            Raytee - We Make it Simpler.
        </p>
    </div>
</section>
