<section class="page m-b-xlg" ng-controller="HomeController">
    <div class="row">
        <h2 class="green-text text-center">Contact us</h2>
        <div class="seperator m-b-lg">
            <span></span>
        </div>
        <p class="text-center">
            Leave a comment and we will provide instant response.

        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well well-md">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Name input-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="name" ng-model="sender" name="name" type="text" placeholder="Your name" class="form-control">
                                    </div>
                                </div>
                                <!-- Email input-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="email" name="email" ng-model="sender_email" type="text" placeholder="Your email" class="form-control">
                                    </div>
                                </div>
                                <!-- Message body -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" ng-model="sender_message" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                    </div>
                                </div>
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-post" ng-click="sendmessage()">Send message</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">You can also send a mail to us directly on <a href="" mailto="info@raytee.com">info@raytee.com</a>.</p>

        <p class="text-center">Raytee – We Make It Simpler.</p>
    </div>
</section>
