<section>
    <h2 class="text-center">FAQ</h2>
    <p>
        FAQ

        Is Raytee a subscription based company?

        Answer

        For now, all users are allowed to join for free. We charge for additional services such as reports based on request.

        How do you make money?

        Answer

        Raytee makes money from adverts and additional services

        Is it an African company.

        Answer

        Yes, please. Raytee is an African enterprise founded in Lagos, Nigeria

        How are brands rated?

        Answer

        Consumers (users) rate business based on their interaction with them. Users assign ratings score and write reviews to describe the experiences with brands.

        How do you ensure against fraudulent ratings?

        Answer

        Each user can only register with a valid email address and this qualifies them to rate a brand one. They can edit or modify if the experience changes based on further interaction. Internally, we have installed an algorithm to detect unusual rating patterns. Once detected, such ratings are deleted.

        We edit this section regularly based on Frequently Asked Questions from customer.

        Raytee  We make it Simpler
    </p>
</section>