<section class="page m-b-xlg">
    <div class="row" style="margin-left: 70px !important;margin-right: 40px !important;">
        <h2 class="green-text">FAQ</h2>
        <!-- <div class="seperator m-b-lg">
            <span></span>
        </div> -->
        <p>
            Is Raytee a subscription based company?
        </p>
        <p>
            <b>Answer</b>

            For now, all users are allowed to join for free. We charge for additional services such as reports based on request.
        </p>
        <p>
            How do you make money?
        </p>
        <p>
            <b>Answer</b>

            Raytee makes money from adverts and additional services
        </p>
        <p>
            Is it an African company.
        </p>
        <p>
            <b>Answer</b>

            Yes, please. Raytee is an African enterprise founded in Lagos, Nigeria
        </p>
        <p>
            How are brands rated?
        </p>
        <p>
            <b>Answer</b>

            Consumers (users) rate business based on their interaction with them. Users assign ratings score and write reviews to describe the experiences with brands.
        </p>
        <p>
            How do you ensure against fraudulent ratings?
        </p>
        <p>
            <b>Answer</b>

            Each user can only register with a valid email address and this qualifies them to rate a brand one. They can edit or modify if the experience changes based on further interaction. Internally, we have installed an algorithm to detect unusual rating patterns. Once detected, such ratings are deleted.
        </p>
        <p>
            We edit this section regularly based on Frequently Asked Questions from customer.
        </p>
        <p>
            Raytee - We Make it Simpler.
        </p>
    </div>
</section>