<!-- <div class="footer" data-ng-controller="HeaderController">
  <div class="text-center m-t-md">
    <p>
      Raytee &#8226; <a href="mailto:info@andela.co">info@raytee.com</a>
      &#8226; 314, Herbert Macaulay Road, Sabo Yaba, Lagos &#8226; Phone : +1 888-472-5913
    </p>
    <p class="copyright">
      &copy 2016.
       Lovingly crafted by with <i class="fa fa-heart"></i> by <a href="http://www.onepercentlab.com">One Percent Lab</a>
    </p>
  </div>
</div>
 -->
<div class="footer" data-ng-controller="HeaderController">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="/" class="brand-logo sc-logo left"><img src="/modules/core/img/raytee2.png" class="" style="width:50px;"></a>
          <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Media</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" ui-sref="about">About</a></li>
            <li><a class="grey-text text-lighten-3" ui-sref="contact">Contact</a></li>
            <li><a class="grey-text text-lighten-3"ui-sref="faq">FAQ</a></li>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 One Percent Lab Ltd
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>
</div>