<div class="footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 s12 text-center">
          <a href="/" class="brand-logo sc-logo"><img src="/modules/core/img/raytee2.png" class="" style="width:50px; margin-bottom: 20px;"></a>
        </div>
        <div class="col l12 s12 text-center">
          <ul>
            <li><a href="https://facebook.com/raytee app" target="_blank"><i class="fa fa-2x fa-facebook-square white-text"></i></a></li>
            <li><a href="https://instagram.com/raytee_app" target="_blank"><i class="fa fa-2x fa-instagram white-text"></i></a></li>
          </ul>
        </div>
        <div class="col l12 s12 text-center">
          <ul>
            <li><a class="grey-text text-lighten-3" ui-sref="about">About</a></li>
            <li><a class="grey-text text-lighten-3" ui-sref="contact">Contact</a></li>
            <li><a class="grey-text text-lighten-3"ui-sref="faq">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center">
      <div class="container">
      © 2016 <a class="white-text" href="http://onepercentlab.com/" target="_blank">One Percent Lab Ltd</a>
      </div>
    </div>
  </footer>
</div>