<!-- <div class="navbar navbar-fixed-top white darken-1" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/" class="navbar-brand">RAYTEE</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="isAuthenticated">
			<li ui-sref="signup" ng-class="{active: $uiRoute}">
				<a>Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-sref="signin" ng-class="{active: $uiRoute}">
				<a>Log In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="isAuthenticated">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="user.provider === 'local'">
						<a href="/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a ng-click="signOut()">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
 -->
 <ul id="menu" class="dropdown-content" data-ng-controller="HeaderController">
	  <li><a href="/settings/accounts">Manage Social Account</a></li>
	  <li><a href="/settings/password">Change Password</a></li>
	  <li class="divider"></li>
	  <li><a ng-click="signOut()">Signout</a></li>
</ul>
<div class="navbar-fixed" data-ng-controller="HeaderController">
    <nav class="white darken-4">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo sc-logo left"><span class="sc-text text-bold grey-text">RAYTEE</span></a>
		        <!-- <form>
						    <div class="input-field black">
						        <input id="search" type="search" required>
						        <label for="search"><i class="material-icons">search</i></label>
						        <i class="material-icons black">close</i>
						    </div>
						</form> -->
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="fa fa-bars"></i></a>
            <ul class="right m-r-md hide-on-med-and-down" >
            		<li ui-sref="signup" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Reviews</a></li>
            		<li ui-sref="signup" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Log In</a></li>
                <li data-ng-show="isAuthenticated"><a class="dropdown-button blue-text" href="#!" data-activates="menu"><span data-ng-bind="user.displayname"></span><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <!-- Testcase -->
            <!-- <ul class="right m-r-md hide-on-med-and-down" data-ng-show="isAuthenticated">
            	<li><a class="dropdown-button" href="" data-activates="menu"><span data-ng-bind="user.displayName"></span><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul> -->
            
            <ul class="side-nav" id="mobile-demo">
                <li ui-sref="signup" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Reviews</a></li>
            		<li ui-sref="signup" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Log In</a></li>
                <li data-ng-show="isAuthenticated"><a class="dropdown-button blue-text" href="#!" data-activates="dropdown"><span data-ng-bind="user.displayName"></span><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>