<ul id="menu" class="dropdown-content" data-ng-controller="HeaderController">
    <li><a href="/settings/accounts/profile">Manage Account</a></li>
    <li><a href="/settings/password">Change Password</a></li>
    <li class="divider"></li>
    <li><a ng-click="signOut()">Signout</a></li>
</ul>
<ul id="mobile_menu" class="dropdown-content" data-ng-controller="HeaderController">
    <li><a href="/settings/accounts/dashboard">Manage Account</a></li>
    <li><a href="/settings/password">Change Password</a></li>
    <li class="divider"></li>
    <li><a ng-click="signOut()">Signout</a></li>
</ul>
<div class="navbar-fixed" data-ng-controller="HeaderController">
    <nav class="white darken-4">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo sc-logo left hide-on-small-only"><img src="/modules/core/img/raytee3.png" class="" style="width:150px;"></a>
             <!-- <form>
                <div class="input-field">
                    <input id="search" type="search" placeholder="enter search query" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form> -->
            <form name="searchForm" id="searchBar" ng-submit="search()">
                <div class="search-bar">
                    <input id="search" type="text" ng-model="searchTerm" required class="round-input" placeholder="Type a word and press enter">
                    <button class="btn btn-search green darken-1" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="fa fa-bars"></i></a>
            <ul class="right m-r-md hide-on-med-and-down" >
                <!-- <li>
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#contains">Contains</a></li>
                              <li><a href="#its_equal">It's equal</a></li>
                              <li><a href="#greather_than">Greather than ></a></li>
                              <li><a href="#less_than">Less than < </a></li>
                              <li class="divider"></li>
                              <li><a href="#all">Anything</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">         
                        <input type="text" class="form-control" name="x" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </li> -->
                <li>
                    <!-- <form name="searchForm" id="searchBar" ng-submit="search()">
                        <div class="search-bar">
                            <input id="search" type="text" ng-model="searchTerm" required class="round-input" placeholder="Type a word and press enter">
                            <button class="btn btn-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form> -->
                </li>
        		<li ui-sref="listServices" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Log In</a></li>
                <li data-ng-show="isAuthenticated">
                    <a class="dropdown-button blue-text" href="#!" data-activates="menu">
                        <img src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" class="profile-image img-circle" style="width: 35px; height: 35px;">
                        <span data-ng-bind="user.displayname"></span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <form name="searchForm" id="searchBar" ng-submit="search()">
                        <div class="search-bar">
                            <input id="search" type="text" ng-model="searchTerm" required class="round-input" placeholder="Type a word and press enter">
                        </div>
                    </form>
                </li>
                <li ui-sref="listServices" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light blue-text">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light blue-text">Log In</a></li>
                <li data-ng-show="isAuthenticated">
                    <a class="dropdown-button blue-text" href="#!" data-activates="mobile_menu">
                        <img src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" class="profile-image img-circle" style="width: 35px; height: 35px;">
                        <span data-ng-bind="user.displayname"></span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>