<ul id="menu" class="dropdown-content" data-ng-controller="HeaderController">
    <li><a href="/settings/accounts/profile">Manage Account</a></li>
    <li><a href="/settings/password">Change Password</a></li>
    <li class="divider"></li>
    <li><a ng-click="signOut()">Signout</a></li>
</ul>
<ul id="mobile_menu" class="dropdown-content" data-ng-controller="HeaderController">
    <li><a href="/settings/accounts/profile">Manage Account</a></li>
    <li><a href="/settings/password">Change Password</a></li>
    <li class="divider"></li>
    <li><a ng-click="signOut()">Signout</a></li>
</ul>
<div class="navbar-fixed" data-ng-controller="HeaderController">
    <nav class="white darken-4">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo sc-logo left hide-on-small-only"><img src="/modules/core/img/raytee3.png" class="" style="width:150px;"></a>
            <a href="/" class="brand-logo msc-logo left"><img src="/modules/core/img/raytee5.png" class="" style="width: 40px;"></a>
            <form name="searchForm" id="searchBar" ng-submit="search()" novalidate>
                <div class="search-bar">
                    <input id="search" type="text" ng-model="searchTerm" required class="round-input" placeholder="Search Raytee">
                    <button class="btn btn-search green darken-1" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="fa fa-bars"></i></a>
            <ul class="right m-r-md hide-on-med-and-down" >
        		<li ui-sref="listServices" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light">Log In</a></li>
                <li data-ng-show="isAuthenticated">
                    <a class="dropdown-button" href="#!" data-activates="menu">
                        <img src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" class="profile-image img-circle" style="width: 35px; height: 35px;">
                        <span data-ng-bind="user.displayname"></span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li ui-sref="listServices" ng-class="{active: $uiRoute}"><a class="waves-effect waves-light">Explore</a></li>
                <li ui-sref="signup" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light">Sign Up</a></li>
                <li li ui-sref="signin" ng-class="{active: $uiRoute}" data-ng-hide="isAuthenticated"><a class="waves-effect waves-light">Log In</a></li>
                <li data-ng-show="isAuthenticated">
                    <p class="dropdown-button" href="#!" data-activates="mobile_menu" >
                        <img src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" class="profile-image img-circle" style="width: 35px; height: 35px;">
                        <span data-ng-bind="user.displayname"></span><i class="material-icons right">arrow_drop_down</i>
                    </p>
                </li>
            </ul>
        </div>
    </nav>
</div>