<section data-ng-controller="HomeController">
	<div id="top" class="row">
		<div class="">
			<form class="">
				<div class="input-field">
					<label for="search"></label>
					<input type="text" name="search" id="search" class="" placeholder="Search for anything">
					<input type="submit" name="submit" id="submit">
				</div>
			</form>
		</div>
	</div>
	<div class="container">
    <div class="row">
        <div class="col m8 s12">
            <h3>See Reviews and Ratings </h3>
            <!-- tabs -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': view_tab == 'home'}"><a href="" ng-click="changeTab('home')" data-toggle="tab">Home</a></li>
                    <li ng-class="{'active': view_tab == 'about'}"><a href="" ng-click="changeTab('about')" data-toggle="tab">About</a></li>
                    <li ng-class="{'active': view_tab == 'services'}"><a href="" ng-click="changeTab('services')" data-toggle="tab">Services</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                    <li ng-class="{'active': view_tab == 'contact'}"><a href="" ng-click="changeTab('contact')" data-toggle="tab">Contact</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active': view_tab == 'home'}" id="home">
                        <div class="">
                        		<h4></h4>
                            <ul class="collection">
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle green">insert_chart</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle red">play_arrow</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													  </ul>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{'active': view_tab == 'about'}" id="about">
                        <div class="">
                            <ul class="collection">
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle green">insert_chart</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle red">play_arrow</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													  </ul>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{'active': view_tab == 'services'}" id="services">
                        <div class="">
                            <ul class="collection">
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle green">insert_chart</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle red">play_arrow</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													  </ul>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{'active': view_tab == 'contact'}" id="contact">
                        <div class="">
                            <ul class="collection">
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle">folder</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle green">insert_chart</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													    <li class="collection-item avatar">
													      <i class="material-icons circle red">play_arrow</i>
													      <span class="title">Title</span>
													      <p>First Line <br>
													         Second Line
													      </p>
													      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
													    </li>
													  </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /tabs -->
        	</div>
	    	<div class="col m4 s12">
	    		<h3>Popular reviews</h3>
	    		<ul class="collection">
				    <li class="collection-item avatar">
				      <i class="material-icons circle">folder</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Second Line
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle">folder</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Second Line
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle green">insert_chart</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Second Line
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle red">play_arrow</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Second Line
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				  </ul>
	    	</div>
    	</div>
	</div>
<!-- <tabset class="tabs-left">
    <tab heading="Vertical A">Vertical content A</tab>
    <tab heading="Vertical B">Vertical content B</tab>
</tabset> -->
</section>
