<section data-ng-controller="HomeController">
    <div id="top" class="row grey darken-5" ng-hide="isAuthenticated">
        <div class="top-content text center">
            <h2 class="white-text">Raytee is the best way to find, review and rate amazing local brands</h2>
            <p class="white-text" style="font-weight: 500; font-size: 16px;">and bad brands too. People use Raytee to make daily purchase decisions. From the city’s tastiest ice-cream spot to the best local wedding planner. What will you uncover in your neighborhood?</p>
            <form class="">
                <div class="input-field m-t-lg">
                    <label for="search"></label>
                    <!-- <input type="text" name="search" id="search" class="" placeholder="Search for anything"> -->
                    <!-- <input ui-sref="listServices" type="submit" name="submit" id="submit" value="WRITE A REVIEW"> -->
                    <a ui-sref="listServices" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Rate a Brand</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row text-center white">
        <div id="reviewer" class="col l6 m6 s12 green lighten-2 white-text" >
            <h2 class="m-t-lg">Reviewers</h2>
            <p class="m-t-lg" style="font-size: 14px;">Sign up to rate a specific or several brands based on your interaction with them. You can also drop a comment to recommend their services or otherwise. Will you help others save time and money? </p>
            <div class="m-t-lg">
                <a ui-sref="listServices" ng-if="isAuthenticated" class="waves-effect waves-light btn-large grey lighten-3 green-text" style="width: 200px; font-weight: 700; font-size: 14px;">Start Rating</a>
                <a ui-sref="signup" ng-if="!isAuthenticated" class="waves-effect waves-light btn-large grey lighten-3 green-text" style="width: 200px; font-weight: 700; font-size: 14px;">Come along here</a>
            </div>
        </div>
        <div id="merchant" class="col l6 m6 s12 grey lighten-3 green-text" >
            <h2 class="m-t-lg">Merchants</h2>
            <p class="m-t-lg" style="font-size: 14px;">With Raytee, you can improve your brand performance through timely customer feedback and industry peer rating. We will provide the performance analytics with the right media mix to back you up.</p>
            <div class="m-t-lg">
                <a ui-sref="signin" ng-if="!isAuthenticated" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Get Started</a>
                <a href="/settings/accounts/profile" ng-if="isAuthenticated && user.roleTitle === 'user'" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Ask for an invite</a>
                <a ui-sref="createService" ng-if="isAuthenticated && user.roleTitle === 'merchant'" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Add a Business</a>
                <a ui-sref="createService" ng-if="isAuthenticated && user.roleTitle === 'admin'" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Add a Business</a>
            </div>
        </div>
    </div>
    <div class="m-t-lg" ng-init="default_view()">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1 class="section-title grey-text darken-4 text-center">Categories</h1>
                <div class="seperator m-b-lg">
                    <span></span>
                </div>
            <div id="gallery">
                <a ng-repeat="category in categories" href="/categories/{{category.id}}" >
                    <figure>
                        <div class="img_overlay">
                            <img ng-src="{{category.image}}" alt="">
                        </div>
                        <h4 class="text-center white-text">
                            {{categories[$index].name}}
                        </h4>
                    </figure>
                </a>
            </div>

            <div class="col l12 m12 s12 m-t-lg" id="#topRated">
                <div class="col l6 m6 s12">
                    <h4 class="section-title red-text">Top Rated Brands</h4>
                    <ul class="collection no-border">
                        <li ng-hide="topRated.length" class="collection-item">No Result found </li>
                        <li ng-repeat="service in topRated | orderBy: '-average_value'" class="collection-item avatar">
                            <a href=""><img ng-src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square"></a>
                            <p class="text-sm_bold m-b-md" style="font-size: 18px; font-weight: 700"><a href="/services/{{service.id}}" class="blue-text darken-4" ng-bind="service.business_name"></a></p>
                            <p class="red-text">
                                <div stark-rating rating="service.average_value" read-only="true" max-rating="5" class="small-star" > </div>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col l6 m6 s12">
                <h4 class="section-title red-text">Top reviews</h4>
                    <ul class="collection no-border m-b-lg">
                        <li ng-hide="topReviews.length" class="collection-item">No Result found.</li>
                        <li ng-repeat="review in topReviews" class="collection-item avatar">
                            <a href=""><img ng-src="{{review.img ? review.img : 'http://placehold.it/60x60'}}" class="square"></a>
                            <p class="m-b-md"><a href="" class="blue-text darken-4">{{review.firstname}}</a> wrote for <a href="services/{{review.service_id}}" class="text-sm_bold blue-text darken-4">{{review.business_name}}</a></p>
                            <p class="red-text">
                                <div stark-rating rating="review.value" read-only="true" max-rating="5" class="small-star" > </div>
                                <span class="grey-text meta-text">{{review.created | date:'mediumDate'}}</span>
                            </p>
                            <div class="review m-t-sm">
                                <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                <p class="meta-text">{{review.review | limitTo: 120}}{{review.review.length < 120 ? '' : '...'}}</p>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>