<section id="loginpage" class="row p-t-lg p-b-lg" data-ng-controller="AuthenticationController">
	<div class="col l6 m8 offset-m2 s12">
		<h3 class="col-md-12 text-center red-text">Sign up using your social accounts</h3>
		<div class="col-md-12 text-center">
			<!-- <a href="/auth/facebook" class="undecorated-link"> -->
				<a href="javascript:void(0)" ng-click="facebookLogin()"><span class="fa fa-3x fb-blue"><i class="fa fa-facebook-square"></i></span></a>
			<!-- </a> -->
			<!-- <a href="/auth/linkedin" class="undecorated-link"> -->
				<a href="javascript:void(0)" ng-click="linkedinLogin()"><span class="fa fa-3x linkin-blue"><i class="fa fa-linkedin-square"></i></span></a>
			<!-- </a> -->
		</div>
		<h3 class="col-md-12 text-center red-text">Or with your email</h3>
		<div class="col s8 offset-s2">
			<form name="userForm" novalidate autocomplete="off">
				<fieldset>
					<div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
						<div class="help-block no-margin" ng-messages="userForm.firstName.$error" ng-minlength="3" ng-show="userForm.firstName.$touched">
                            <p ng-message="required">Firstname can't be blank</p>
                            <p ng-message="minlength">Firstname can't be less than 3 letters</p>
                        </div>
						<!-- <label for="firstName" data-error="wrong" data-success="right">First Name</label> -->
						<input type="text" required id="firstName" name="firstName" class="form-control validate" data-ng-model="credentials.firstname" placeholder="First Name" ng-minlength="3" required>
					</div>
					<div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
						<div class="help-block no-margin" ng-messages="userForm.lastName.$error" ng-minlength="3" ng-show="userForm.lastName.$touched">
                            <p ng-message="required">Lastname can't be blank</p>
                            <p ng-message="minlength">Lastname can't be less than 3 letters</p>
                        </div>
						<!-- <label for="lastname">Last Name</label> -->
						<input type="text" id="lastName" name="lastName" class="form-control validate" data-ng-model="credentials.lastname" placeholder="Last Name" ng-minlength="3" required>
					</div>
					<div class="form-group" ng-class="{ 'has-error': userForm.phone.$touched && userForm.phone.$invalid }">
						<!-- <label for="email">Email</label> -->
						<div class="help-block no-margin" ng-messages="userForm.phone.$error" ng-minlength="11" ng-show="userForm.phone.$touched">
                            <p ng-message="required">Phone number can't be blank</p>
                            <p ng-message="minlength">Phone number seems invalid</p>
                            <p ng-message="pattern">Phone number must be a valid number</p>
                        </div>
						<input type="tel" id="phone" name="phone" class="form-control" data-ng-model="credentials.phone" placeholder="Phone" ng-minlength="10" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,7}$/" required>
					</div>
					<div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
						<!-- <label for="email">Email</label> -->
						<div class="help-block no-margin" ng-messages="userForm.email.$error" ng-minlength="11" ng-show="userForm.email.$touched">
                            <p ng-message="required">Email can't be blank</p>
                            <p ng-message="minlength">Email number seems invalid</p>
                            <p ng-message="pattern">Email must be in the right format</p>
                        </div>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" ng-minlength="3" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required>
					</div>
					<div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
						<!-- <label for="password">Password</label> -->
						<div class="help-block no-margin" ng-messages="userForm.password.$error" ng-minlength="11" ng-show="userForm.password.$touched">
                            <p ng-message="required">Password can't be blank</p>
                            <p ng-message="minlength">Password is too short, at least 6 characters</p>
                        </div>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" ng-minlength="6" required>
						<p class="meta m-t-sm">Passwords must be at least 6 characters in length.</p>
					</div>
					<div class="form-group">
						<p class="policy">By signing up, you agree to Raytee’s <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
						<button type="submit" ng-click="signup()" ng-disabled="userForm.$invalid" class="btn btn-large btn-lng green darken-2">Sign up</button>
						<p class="pull-right m-t-sm alt-login">Already on Raytee? <a href="/signin">Log in</a></p>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col l6 hide-on-med-and-down text-center m-t-lg">
		<div class="col s8 offset-s2">
			<!-- <img src="/modules/core/img/raytee2.png" style="width: 200px;"> -->
			<!-- <h4 class="red-text">Why Raytee?</h4> -->
			<!-- <p class="flow-text">Grow your business, find  plus get access to reviews of local businesses around you.</p> -->
		</div>
	</div>
</section>
