<section class="row" data-ng-controller="AuthenticationController">
	<!-- <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link" target="_blank"a>
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link" target="_top">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
	</div> -->
	<h3 class="col-md-12 text-center">Login to Raytee</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					<div class="forgot-password">
						<a href="/password/forgot">Forgot your password?</a>
					</div>
				</div>
				<div class=" form-group">
					<p>By logging in, you agree to Raytee’s <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
					<button type="submit" class="btn btn-primary btn-lng">Sign in</button>
					<p class="pull-right">Don't have an account? <a href="/signup">Sign up</a></p>
					<!-- <a href="/signup">Sign up</a> -->
				</div>
			</fieldset>
		</form>
	</div>
</section>
