<section id="loginpage" class="row p-t-lg p-b-lg" data-ng-controller="AuthenticationController">
	<div class="col l6 m8 offset-m2 s12">
		<div class="col s8 offset-s2">
			<h3 class="text-center login_text red-text">Login to Raytee</h3>
			<div class="col s12 text-center m-b-lg">
				<a href="javascript:void(0)" ng-click="facebookLogin()"><span class="fa fa-3x fb-blue"><i class="fa fa-facebook-square"></i></span></a>
				<a href="javascript:void(0)" ng-click="linkedinLogin()"><span class="fa fa-3x linkin-blue"><i class="fa fa-linkedin-square"></i></span></a>
			</div>
			<div class="col s12">
				<form name="signinForm" class="signin" autocomplete="off" novalidate>
					<fieldset>
						<div class="form-group" ng-class="{ 'has-error': signinForm.email.$touched && signinForm.email.$invalid }">
							<!-- <label for="email">Email</label> -->
							<div class="help-block no-margin" ng-messages="signinForm.email.$error" ng-minlength="11" ng-show="signinForm.email.$touched">
	                            <p ng-message="required">Email can't be blank</p>
	                            <p ng-message="minlength">Email number seems invalid</p>
	                            <p ng-message="pattern">Email must be in the right format</p>
	                        </div>
							<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" ng-minlength="3" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
						</div>
						<div class="form-group">
							<!-- <label for="password">Password</label> -->
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
							<div class="forgot-password m-t-sm">
								<a href="/password/forgot">Forgot your password?</a>
							</div>
						</div>
						<div class=" form-group">
							<p class="policy">By logging in, you agree to Raytee’s <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
							<button type="submit" ng-click="signin()" ng-disabled="signinForm.$invalid" class="btn btn-large btn-lng green darken-1">Log in</button>
							<p class="alt-login pull-right m-t-sm">Don't have an account? <a href="/signup">Sign up</a></p>
							<!-- <a href="/signup">Sign up</a> -->
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="col l6 hide-on-med-and-down text-center m-t-lg">
		<div class="col s8 offset-s2">
			<!-- <img src="/modules/core/img/raytee2.png" style="width: 200px;"> -->
			<!-- <h4 class="red-text">Why Raytee?</h4> -->
			<!-- <p class="flow-text">Grow your business, find  plus get access to reviews of local businesses around you.</p> -->
		</div>
	</div>
</section>
