<section class="row p-t-lg" data-ng-controller="AuthenticationController">
	<div class="col l6 m6 s6">
		<h3 class="col-md-12 text-center red-text">Sign up using your social accounts</h3>
		<div class="col-md-12 text-center">
			<!-- <a href="/auth/facebook" class="undecorated-link"> -->
				<span class="fa fa-3x" ng-click="facebookLogin()"><i class="fa fa-facebook-square"></i></span>
			<!-- </a> -->
			<!-- <a href="/auth/linkedin" class="undecorated-link"> -->
				<span class="fa fa-3x" ng-click="linkedinLogin()"><i class="fa fa-linkedin-square"></i></span>
			<!-- </a> -->
		</div>
		<h3 class="col-md-12 text-center red-text">Or with your email</h3>
		<div class="col s8 offset-s2">
			<form name="userForm" class="signin" novalidate autocomplete="off">
				<fieldset>
					<div class="form-group">
						<!-- <label for="firstname">First Name</label> -->
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstname" placeholder="First Name">
					</div>
					<div class="form-group">
						<!-- <label for="lastname">Last Name</label> -->
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastname" placeholder="Last Name">
					</div>
					<div class="form-group">
						<!-- <label for="email">Email</label> -->
						<input type="tel" id="phone" name="phone" class="form-control" data-ng-model="credentials.phone" placeholder="Phone">
					</div>
					<div class="form-group">
						<!-- <label for="email">Email</label> -->
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
					<div class="form-group">
						<!-- <label for="password">Password</label> -->
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						<p class="meta m-t-sm">Passwords must be at least 6 characters in length.</p>
					</div>
					<div class="form-group">
						<p class="policy">By signing up, you agree to Raytee’s <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
						<button type="submit" ng-click="signup()" class="btn btn-large btn-lng green darken-2">Sign up</button>
						<p class="pull-right m-t-sm alt-login">Already on Raytee? <a href="/signin">Log in</a></p>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col l6 m6 s12 hide-on-small text-center m-t-lg">
		<div class="col s8 offset-s2">
			<img src="/modules/core/img/raytee2.png" style="width: 200px;">
			<h4 class="red-text">Why Raytee?</h4>
			<p class="flow-text">Grow your business, find  plus get access to reviews of local businesses around you.</p>
		</div>
	</div>
</section>
