:root {
  --green1: #8bc53e;
  --green2: #00a99d;
  --red1: #ec1e79;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  /*color: #4d4d4d;*/
  margin: 0 auto;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 500;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
	padding: 0;
  flex: 1;
}
.undecorated-link:hover {
	text-decoration: none;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0px; 
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100%;
  width: 400px;
  position: absolute;
  left: 20%;
  font-size: 14px;
}

.page {
  padding-top: 20px;
}

hr {
  border-top: 1px solid #d8d8d8;
  margin-top: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.has-error .form-control {
  box-shadow: 0 1px 0 0 #f44336;
  transition: all 0.3s;
}

.nav-wrapper i, .nav-wrapper a, .nav-wrapper p {
  color: var(--green2) !important;
}

.nav-wrapper i.material-icons {
  line-height: 65px;
}

.side-nav p {
  margin-left: 20px;
  display: inline-block;
}

.side-nav img {
  margin-right: 10px;
}

.side-nav i.material-icons {
  /*position: relative;*/
  /*left: -50px;*/
}

/*override*/
.pagination li.active{
  background: none;
}

.pagination li {
  padding: 0;
}

i.right {
  margin-left: 6px;
}

.nav-wrapper {
  margin-left: 40px;
  margin-right: 40px;
}

a {
  color: #4CAF50  !important;
  cursor: pointer;
}

nav ul a {
  font-size: 14px;
  font-weight: 600;
}

nav ul a:hover, .nav-wrapper a {
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 12px;
  /*padding: 7px 5px*/
}

/*Margin helpers*/
.m-n {
  margin: 0 !important;
}

.m-t-sm {
  margin-top: 5px;
}

.m-b-sm {
  margin-bottom: 5px;
}

.m-b-md {
  margin-bottom: 10px !important;
}

.m-b-lg {
  margin-bottom: 25px !important;
}

.m-b-xlg {
  margin-bottom: 50px !important;
}

.m-t-md {
  margin-top: 15px !important;
}

.m-t-lg {
  margin-top: 25px !important;
}

.m-t-xlg {
  margin-top: 75px !important;
}

.m-r-md {
  margin-right: 6px;
}

/*Padding helpers*/
.p-t-lg {
  padding-top: 60px;
}

.p-b-lg {
  padding-bottom: 60px;
}

/*Meta*/
.meta-text {
  font-size: 12px;
  /*margin-left: 5px;*/
}

.text-bold {
  font-weight: 700;
}

.text-sm_bold {
  font-weight: 600;
}

.section-title {
  font-weight: 600;
  letter-spacing: -2
}

/*seperator*/
.seperator {
  width: 100%;
  height: 4px;
  line-height: 0px;
  padding: 8px 0;
  text-align: center;
}

.seperator span {
  height: 2px;
  background: #000000;
  display: inline-block;
  width: 100px;
  opacity: 0.15;
}

@media only screen and (max-width: 768px) {
  .nav-wrapper{
    margin-left: 30px;
    margin-right: 30px;
  }
}

/*search bar*/
.search-bar {
  width: 300px;
  padding: 2px 50px;
}
/*input*/
.round-input {
  width: 200px;
  border: 1px solid rgba(0,200,0,0.7) !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  padding-left: 10px !important;
  color: grey;
  line-height: 1;
  vertical-align: bottom;  /*safari fix*/
}

.round-input-full {
  border: 1px solid rgba(0,200,0,0.7) !important;
  border-radius: 20px !important;
  padding-left: 10px !important;
  color: grey;
  line-height: 1;
  vertical-align: bottom;  /*safari fix*/
}

input.round-input-full {
  width: 95%;
  margin-bottom: 0;
  font-size: 13px;
}

.round-input:focus, .round-input-full:focus {
  box-shadow: none !important;
}

.btn-search {
  position: absolute;
  top: 1.3em;
  right: 7em;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  height: 2.4em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;

}


#top {
  height: 400px;
  background: url(../img/bo_play_pattern.png) repeat;
  width: 100%;
  margin: 0 auto 0 auto;
}

#top input[type=submit] {
  height: 50px;
  width: 200px;
  background: var(--green1);
  color: white;
  font-weight: 800;
  border: 1px solid white;
  border-radius: 2px;
}

#how {
  padding: 40px 40px 70px;
}

.top-content {
  width: 80%;
  position: relative;
  margin: 100px auto 140px;
}

#reviewer, #merchant {
  height: 300px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  #merchant {
    padding: 0 26px;
  }
}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}

.tab-pane .collection {
  border-left: 0;
}

/*overiding materialize css*/
.collection .collection-item.avatar .square {
  position: absolute;
  width: 60px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection .collection-item.avatar {
  padding-top: 15px;
  padding-left: 90px; 
  overflow: auto;
}

@media only screen and (max-width: 425px) {
  
}

.collection .collection-item.service-avatar .square-mid {
  position: absolute;
  width: 120px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection .collection-item.service-avatar {
  padding-top: 15px;
  padding-left: 150px; 
}

@media only screen and (max-width: 425px) {
  .collection .collection-item.service-avatar {
    padding-left: 15px;
    padding-top: 25px;
  }
  .collection .collection-item.service-avatar .square-mid {
    position: relative;
    margin-bottom: 15px;
    margin-left: -15px;
  }
  .collection.center-align-mob {
    text-align: center;
  }
}

#business_detail .collection {
  border: none;
}

#business_detail .collection li {
  background: none;
}

.no-border {
  border: none;
}

#topRated > .collection .collection-item {
  background-color: none !important;
}


.review > a .avatar {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 30px;
}

.sheet {
  background: white;
  padding: 40px !important;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
}

/*Star Ratings*/
.star-rating {
  display: inline-block;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.small-star img {
  width: 14px;
}

.mid-star img {
  width: 18px;
}

.mid-star .rating li {
  font-size: 1.5em;
}

.rating .filled {
  color: #ff9900;
}

.star-detail {
  display: inline-block;
  width: 100%;
}

.star-detail .fa-star {
  color: #ff9900;
}

.progress {
  width: 200px;    
  position: relative;
  top: -21px;
  left: 40px;
  height: 10px;
  border-radius: 1px;
  margin-bottom: 0;
}

.progress-bar {
  background-image: -webkit-linear-gradient(to bottom, #4DB6AC 0%, #43A047 100%);
  background-image: linear-gradient(to bottom, #4DB6AC 0%, #43A047 100%);
}

.star-detail .progress-bar {
  font-size: 10px;
  line-height: 1;
  color: rgba(0,0,0,0.7);
  font-weight: bolder;
  text-align: left;
  padding-left: 3px;
}



/*button group*/
.list-group {
  box-shadow: none !important;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  /*cursor: pointer;*/
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}

.filter-btn-padding {
  padding: 4px 10px !important;
}

.label.rating-value {
  position: relative;
  left: 128px;
  top: -20px;
}

.label.rating-value {
  font-size: 90%
}

.btn-upvote {
    font-size: 12px;
    height: 20px;
    margin: 0 10px;
    line-height: .5;
    color: white !important;
    font-weight: 600;
    background-color: #4CAF50;
}

.btn-large {
  box-shadow: none;
}

.btn-large:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 2px 2px 0 rgba(0,0,0,0.1);
}

.btn-post {
    color: white !important;
    font-weight: 600;
    background-color: #4CAF50;
}


/*footer*/
footer.page-footer {
  margin-top: 0;
  background-color: #403637;
}

footer ul {
  display: inline-flex;
}

footer ul li {
  margin: 5px 10px;
}

/*footer ul li a {
  cursor: pointer;
}*/

.about li {
  list-style-type: disc;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.img_overlay {
  background: rgba(0,0,0,1);
  overflow: auto; 
}

.img_overlay:hover img, .img_overlay + h4:hover img { 
  opacity: 0.5;
}

#gallery a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

#gallery a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
 #gallery a {
    width: calc(25% - 6px);
  }
  
  #gallery a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  #gallery a:nth-of-type(4n) {
    margin-right: 0;
  }
}

#gallery a:hover img, #gallery a:hover h4, #gallery a:hover .img_overlay {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

#gallery h4 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 900;
  position: relative;
  top: -50px;
  transition: all 0.5s ease;
}

#gallery img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.msc-logo {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 0;
  }
  .msc-logo {
    display: block !important;
    z-index: 999;
  }
  .btn-search {
    top: 0.7em;
  }
}

@media only screen and (max-width: 560px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    left: 15%;
  }
}

@media only screen and (max-width: 490px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    left: 10%;
  }
}

@media only screen and (max-width: 440px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    width: 370px;
    left: 7%;
  }
  .search-bar {
    width: 270px;
  }
}

@media only screen and (max-width: 400px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    width: 350px;
    left: 6%;
  }
  .search-bar {
    width: 250px;
  }
}

@media only screen and (max-width: 375px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    width: 340px;
    left: 5%;
  }
  .search-bar {
    width: 240px;
  }
}

@media only screen and (max-width: 320px) {
  nav .nav-wrapper form, nav .nav-wrapper form .input-field {
    width: 300px;
    left: 5%;
  }
  .search-bar {
    width: 200px;
  }
}

.hide-on-large, .nav-hide-on-large {
  display: none;
}

.nav-hide-on-large {
    position: relative;
    top: -30px;
    left: -14px;
    width: 104%;
}

.nav-hide-on-large ul {
  margin-right: 20px;
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .hide-on-large {
    display: block;
  }
  .sec-content {
    /*display: none;*/
  }
}

@media only screen and (max-width: 768px) {
  .nav-hide-on-large {
    display: block;
  }
}

@media (max-width: 425px) {
  .nav-hide-on-large {
    width: 108%;
  }
  .nav-hide-on-large ul li a {
    font-size: 11px;
  }

}

@media (max-width: 400px) {
  .nav-hide-on-large {
    width: 108%;
  }
  .nav-hide-on-large ul li a {
    font-size: 10px;
  }

}

@media (max-width: 375px) {
  .nav-hide-on-large {
    width: 109%;
  }
  .nav-hide-on-large ul li a {
    font-size: 9px;
  }

}


.hide-on-laps {
  display: none;
}

@media (max-width: 950px) {
  .hide-on-tabs {
    display: none;
  }
  .hide-on-laps {
    display: block;
  }
}

@media (max-width: 425px) {
  .top-content h2 {
    font-size: 20px;
  }
  .top-content {
    margin-top: 70px;
  }
}

.drag-target {
  width: 0 !important;
}

#loading-bar .bar {
  background: var(--green2);
}



/*debugger*/
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/