<section class="row" data-ng-controller="PasswordController">
    <h3 class="col-md-12 text-center">Restore your password</h3>
    <p class="small text-center">Enter your account email.</p>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="forgotPasswordForm" data-ng-submit="askForPasswordReset(); forgotPasswordForm.$setPristine()" novalidate class="signin form-horizontal" autocomplete="off">
            <fieldset>
				<!-- <div class="form-group">
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div> -->
                <div class="form-group" ng-class="{ 'has-error': forgotPasswordForm.email.$touched && forgotPasswordForm.email.$invalid }">
                    <!-- <label for="email">Email</label> -->
                    <div class="help-block no-margin" ng-messages="forgotPasswordForm.email.$error" ng-minlength="11" ng-show="forgotPasswordForm.email.$touched">
                        <p ng-message="pattern">Email must be in the right format</p>
                    </div>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" ng-minlength="3" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-primary">Submit</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>