<section class="row" data-ng-controller="SettingsController" style="margin-bottom: 0px;">
	<div class="wrapper">
	    <div class="sidebar">
	    	<div class="sidebar-wrapper">

	            <ul class="nav">
	                <li ng-show="user.roleTitle === 'admin'">
	                    <a ui-sref=".dashboard" class="white-text">
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li ng-show="user.roleTitle === 'merchant' || user.roleTitle === 'admin'">
	                    <a ui-sref=".service" class="white-text">
	                        <p>Add Business</p>
	                    </a>
	                </li>
	                <li class="">
	                    <a ui-sref=".profile" class="white-text">
	                        <p>Edit Profile</p>
	                    </a>
	                </li>
	                <li class="">
	                    <a ui-sref=".review" class="white-text">
	                        <p>Reviews</p>
	                    </a>
	                </li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
	        <div class="content">
	            <div class="">
	            	<nav class="green nav-hide-on-large">
			            <ul>
			                <li ng-show="user.roleTitle === 'admin'">
			                    <a ui-sref=".dashboard" class="white-text">
			                        <p>Dashboard</p>
			                    </a>
			                </li>
			                <li ng-show="user.roleTitle === 'merchant' || user.roleTitle === 'admin'">
			                    <a ui-sref=".service" class="white-text">
			                        <p>Add Business</p>
			                    </a>
			                </li>
			                <li class="">
			                    <a ui-sref=".profile" class="white-text">
			                        <p>Edit Profile</p>
			                    </a>
			                </li>
			                <li class="">
			                    <a ui-sref=".review" class="white-text">
			                        <p>Reviews</p>
			                    </a>
			                </li>
			            </ul>
			        </nav>
	            	<div ui-view></div>
	            </div>
	        </div>
	    </div>
	</div>
</section>