<section class="row" data-ng-controller="SettingsController" style="margin-bottom: 0px;">
	<div class="wrapper">
	    <div class="sidebar">
	    	<div class="sidebar-wrapper">

	            <ul class="nav">
	                <li ng-show="user.roleTitle === 'merchant'">
	                    <a ui-sref=".dashboard" class="white-text">
	                        <i class="pe-7s-graph"></i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li ng-show="user.roleTitle === 'merchant'">
	                    <a ui-sref=".service" class="white-text">
	                        <i class="pe-7s-user"></i>
	                        <p>Service</p>
	                    </a>
	                </li>
	                <li class="">
	                    <a ui-sref=".profile" class="white-text">
	                        <i class="pe-7s-graph"></i>
	                        <p>Edit Profile</p>
	                    </a>
	                </li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
	        <div class="content">
	            <div class="container-fluid">
	            	<div ui-view></div>
	            </div>
	        </div>
	    </div>
	</div>
</section>