<div data-ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <i class="fa fa-bar-chart-o fa-5x"></i>
                    <h3>{{stats.total_reviews}}</h3>
                </div>
                <div class="panel-footer back-footer-green">
                    Total Reviews

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                    <h3>{{stats.total_merchants}}</h3>
                </div>
                <div class="panel-footer back-footer-blue">
                    Merchants

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-red">
                <div class="panel-body">
                    <i class="fa fa fa-comments fa-5x"></i>
                    <h3>{{stats.total_services}}</h3>
                </div>
                <div class="panel-footer back-footer-red">
                    Services

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-brown">
                <div class="panel-body">
                    <i class="fa fa-users fa-5x"></i>
                    <h3>{{stats.total_users}}</h3>
                </div>
                <div class="panel-footer back-footer-brown">
                    Total Users

                </div>
            </div>
        </div>
    </div>
    <!-- <h1>Hi, I'm the dashboard</h1> -->
    <div class="">
        <h2 class="text-center m-b-lg">Charts</h2>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <canvas id="base" class="chart-horizontal-bar" chart-data="data" chart-labels="labels">
                    </canvas> 
                </div>
                <div class="panel-footer back-footer-green">
                    Horizontal-Bar Breakdown

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <canvas id="polar-area" class="chart chart-polar-area"
                      chart-data="data" chart-labels="labels" >
                    </canvas> 
                </div>
                <div class="panel-footer back-footer-green">
                    Polar Area Breakdown

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All users
            </div> 
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Role</th>
                                <th>Registered</th>
                                <th>Last update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{$index + 1}}</td>
                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone_number}}</td>
                                <td>{{user.roleTitle}}</td>
                                <td>{{user.createdAt | date: 'mediumDate'}}</td>
                                <td>{{user.updatedAt | date: 'mediumDate'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p><a href="" ng-click="findMerchantList()">Find Merchant Waiting List</a></p>
        <!-- {{waitingList.length}} -->
        <div class="panel panel-default" ng-if="waitingList.length > 0">
            <div class="panel-heading">
                Merchant Waiting List
            </div> 
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email ID.</th>
                                <th>Confirm request</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="wait in waitingList">
                                <td>{{wait.id}}</td>
                                <td>{{wait.firstname}}</td>
                                <td>{{wait.lastname}}</td>
                                <td>{{wait.email}}</td>
                                <td><button ng-click="approveMerchant(wait)">Approve</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- <p>{{waitingList}}</p> -->
</div>