<section class="row" data-ng-controller="SettingsController">

	<div class="">
	    <div class="row" id="main">
	        <div class="col-md-4 well" id="leftPanel">
	            <div class="row">
	                <div class="col-md-12">
	                    <div>
	                    	<!-- <a href=""> -->
		                        <img ng-src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" alt="Profile Picture" class="profile-pic img-responsive img-thumbnail" style="width: 200px; height: 200px;">
		                        <!-- <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png"> -->
		                        <input type="file" id="my_file" style="display: none;" />
	                    	<!-- </a> -->
	                        <h2>{{user.displayname}}</h2>
	                        <p>{{user.email}}</p>
	                        <p ng-show="user.roleTitle === 'user'">Do you have a service that you want to put on the map? <a href="" ng-click="merchantRequest()">Send a merchant request</a></p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-8" id="rightPanel">
	            <div class="row">
	                <div class="col-md-12">
	                    <form role="form" name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
	                        <h2>Edit your profile.<br><small>It's always easy</small></h2>
	                        <hr class="colorgraph">
	                        <div class="row">
	                            <div class="col-xs-12 col-sm-6 col-md-6">
	                                <div class="form-group">
	                                    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstname" placeholder="First Name" tabindex="1">
	                                </div>
	                            </div>
	                            <div class="col-xs-12 col-sm-6 col-md-6">
	                                <div class="form-group">
	                                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastname" placeholder="Last Name" tabindex="2">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
		                        <div class="col-xs-12">
			                        <div class="form-group">
			                            <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email" tabindex="3">
			                        </div>
		                        </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xs-12">
	                        		<div class="pull-right">
		                        		<div class="form-group">
											<button type="submit" class="btn btn-large m-b-md" style="float: right; margin-right: 10px;">Save Profile</button>
										</div>
										<div data-ng-show="success" class="text-success">
											<strong>Profile Saved Successfully</strong>
										</div>
										<div data-ng-show="error" class="text-danger">
											<strong data-ng-bind="error"></strong>
										</div>
	                        		</div>
	                        	</div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <!-- Modal -->
	            <!-- /.modal -->
	        </div>
	    </div>
	</div>
</section>
