<section class="row" data-ng-controller="SettingsController">

	<div class="">
	    <div class="row m-t-md" id="main">
	    	<p style="font-size: 14px; font-weight:700" ng-show="user.roleTitle === 'user'"><a class="green-text darken-4" href="" ng-click="merchantRequest()">Send a merchant request</a> to become a Merchant and start adding your businesses.</p>
	        <div class="col-md-4 well" id="leftPanel">
	            <div class="row">
	                <div class="col-md-12">
	                    <div>
	                    	<!-- <a href=""> -->
		                        <img ng-src="{{user.image_url !== null ? user.image_url : 'http://placehold.it/200x200'}}" alt="Profile Picture" class="profile-pic img-responsive img-thumbnail" style="width: 200px; height: 200px;">
		                        <!-- <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png"> -->
		                        <input type="file" id="my_file" style="display: none;" />
	                    	<!-- </a> -->
	                        <h2>{{user.displayname}}</h2>
	                        <p>{{user.email}}</p>
	                        <!-- <p ng-show="user.roleTitle === 'user'">Do you have a service that you want to put on the map? <a href="" ng-click="merchantRequest()">Send a merchant request</a></p> -->
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-8" id="rightPanel">
	            <div class="row">
	                <div class="col-md-12">
	                    <form role="form" name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off" novalidate>
	                        <h2>Edit your profile.<br><small>It's always easy</small></h2>
	                        <hr class="colorgraph">
                            <div class="col-xs-12">
                                <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid }">
                                	<div class="help-block no-margin" ng-messages="userForm.firstName.$error" ng-minlength="3" ng-show="userForm.firstName.$touched">
			                            <p ng-message="required">Firstname can't be blank</p>
			                            <p ng-message="minlength">Firstname can't be less than 3 letters</p>
			                        </div>
                                    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstname" placeholder="First Name" ng-minlength="3" tabindex="1" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid }">
                                	<div class="help-block no-margin" ng-messages="userForm.lastName.$error" ng-minlength="3" ng-show="userForm.lastName.$touched">
			                            <p ng-message="required">Lastname can't be blank</p>
			                            <p ng-message="minlength">Lastname can't be less than 3 letters</p>
			                        </div>
                                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastname" placeholder="Last Name" tabindex="2" ng-minlength="3" required>
                                </div>
                            </div>
	                        <div class="row">
		                        <div class="col-xs-12">
			                        <div class="form-group">
			                            <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email" tabindex="3">
			                        </div>
		                        </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xs-12">
	                        		<div class="pull-right">
		                        		<div class="form-group">
											<button type="submit" class="btn btn-large m-b-md" style="float: right; margin-right: 10px;">Save Profile</button>
										</div>
										<div data-ng-show="success" class="text-success">
											<strong>Profile Saved Successfully</strong>
										</div>
										<div data-ng-show="error" class="text-danger">
											<strong data-ng-bind="error"></strong>
										</div>
	                        		</div>
	                        	</div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <!-- Modal -->
	            <!-- /.modal -->
	        </div>
	    </div>
	</div>
</section>
