<div data-ng-controller="ServicesController" data-ng-init="findMy(user.id)">
    <div class="col-md-12">
        <h4 class="section-title red-text">All My Services<span><a href="" ui-sref="createService" class="pull-right blue-text meta-text">create-new</a></span></h4>
                <ul class="collection">
                    <li ng-repeat="service in services" class="collection-item service-avatar">
                        <div class="row">
                            <div class="col s8">
                                <a href=""><img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid"></a>
                                <p class="text-sm_bold m-b-sm" ng-bind="service.business_name"><a href="/services/{{service.id}}" class="blue-text darken-4"></a></p>
                                <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                                <div class="m-t-sm">
                                    <p class="meta-text" ng-bind="service.business_description"></p>
                                    <p class="meta-text"><a href=""ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                    <p class="meta-text"><a href="" ng-bind="service.business_phone_number"><i class="fa fa-phone">: </i></a></p>
                                    <p class="meta-text"><a href="" ng-bind="service.business_email"><i class="fa fa-envelope">: </i></a></p>
                                </div>
                            </div>
                            <div class="col s4 sec-content">
                                <div class="text-center">
                                    <h1 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h1>
                                    <p class="red-text darken-4"><div star-rating class="mid-star" rating-value="service.avg_rating" max="5" readonly="true"></div></p>
                                    <p>{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">Read Reviews</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    
                    <li class="text-center"><a href="" class="meta-text blue-text darken-4">Create new</a></li>
                </ul>
    </div>
</div>

