<div data-ng-controller="ServicesController" data-ng-init="findMy(user.id)">
    <div class="col-md-12">
        <div class="text-center m-t-xlg m-b-xlg">
            <a ui-sref="createService" class="waves-effect waves-light btn-large green white-text" style="width: 200px; font-weight: 700; font-size: 14px;">Add a Business</a>
        </div>
        <h4 class="section-title red-text m-t-xlg">All My Services<span><a class="pull-right blue-text meta-text" ng-click="toggleView()" style="cursor: pointer;">change view</a></span></h4>
                <ul class="collection" ng-hide="showGraph">
                    <li class="collection-item text-center">
                        <input ng-model="q" class="round-input-full" placeholder="Filter text">
                    </li> 
                    <li dir-paginate="service in services | filter:q | itemsPerPage: 20" class="collection-item service-avatar">
                        <div class="row">
                            <div class="col m8 s12">
                                <a href="">
                                    <img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid">
                                </a>
                                <p class="text-sm_bold m-b-sm" style="font-size: 18px; font-weight: 700"><a href="/services/{{service.id}}" class="blue-text darken-4" ng-bind="service.business_name"></a></>
                                <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                                <div class="m-t-sm">
                                    <p class="meta-text" ng-bind="service.business_description">.</p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_phone_number"><i class="fa fa-phone"></i></a></p>
                                    <p class="meta-text"><a href="mailto:{{service.business_email}}" target="_blank"><i class="fa fa-envelope"></i> Send a mail</a></p>
                                    <p class="meta-text"><a href="//{{service.business_website}}" target="_blank"><i class="fa fa-globe"></i> Visit website</a></p>
                                </div>
                                <div class="hide-on-large m-t-lg">
                                    <h4 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h4>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col m4 sec-content hide-on-small-only">
                                <div class="text-center">
                                    <h1 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h1>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    <li class="collection-item text-center" style="padding: 0 20px;">
                        <dir-pagination-controls></dir-pagination-controls>
                    </li>
                    
                    <li class="text-center" ng-if="services.length === 0">No service yet,<a href="" ui-sref="createService" class="meta-text blue-text darken-4">create new</a></li>
                </ul>
                <div class="row" ng-if="showGraph">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <canvas id="base" class="chart chart-bar" chart-series="series" chart-data="data" chart-labels="labels">
                                </canvas>
                            </div>
                            <div class="panel-footer back-footer-green">
                                Graphical Overview

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Individual Overview</h3>
                        <div ng-repeat="service in services" class="col-md-4 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-green">
                                <div class="panel-body">
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="service.data" chart-labels="service.labels">
                                    </canvas>
                                </div>
                                <div class="panel-footer back-footer-green">
                                    <a href="/services/{{service.id}}" ng-bind="service.business_name"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

