<section class="row page" data-ng-controller="CategoriesController" data-ng-init="find()">
    <div>
        <!-- {{services | json}} -->

        <div class="col l6 offset-l1 s12 m-b-lg ng-cloak">
            <div>
                <div class="col m6 s12">
                    <h3 class="section-title red-text">{{category}}</h3>
                </div>
                <div class="col m6 s12">
                    <div class="list-group list-group-horizontal right" style="font-size: 10px;">
                        <!-- <a class="list-group-item filter-btn-padding" ng-click="setFilter()">All</a> -->
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-created')">Recent</a>
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-reviews.length');">Most Rated</a>
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-avg_rating');">Top Rated</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col s12">
                <ul class="collection center-align-mob m-b-lg">
                    <li class="collection-item">
                        <div class="controls">
                            <select id="cat" class="browser-default" data-ng-model="business_category_id" data-ng-options="k as v for (k,v) in categories track by k" convert-to-number required>
                                <option value=''>Category</option>
                            </select>
                        </div>
                        <input ng-model="q" class="round-input-full m-t-md" placeholder="Filter text">
                    </li>
                    <li class="collection-item" ng-if="categoryArr.length === 0">No service in this category</li>
                    <li dir-paginate="service in categoryArr | orderBy: filter | filter: q | itemsPerPage: 10"class="collection-item service-avatar">
                        <div class="row">
                            <div class="col m8 s12">
                                <a href="">
                                    <img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid">
                                </a>
                                <p class="text-sm_bold m-b-sm" style="font-size: 18px; font-weight: 700"><a href="/services/{{service.id}}" class="blue-text darken-4" ng-bind="service.business_name"></a></>
                                <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                                <div class="m-t-sm">
                                    <p class="meta-text" >{{service.business_description | limitTo: 120}}{{service.business_description.length < 120 ? '' : '...'}}</p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_phone_number"><i class="fa fa-phone"></i></a></p>
                                    <p class="meta-text"><a href="mailto:{{service.business_email}}" target="_blank"><i class="fa fa-envelope"></i> Send a mail</a></p>
                                    <p class="meta-text"><a href="//{{service.business_website}}" target="_blank"><i class="fa fa-globe"></i> Visit website</a></p>
                                </div>
                                <div class="hide-on-large m-t-lg">
                                    <h2 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h2>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col m4 s12 sec-content hide-on-small-only">
                                <div class="text-center">
                                    <h1 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h1>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="collection-item text-center" style="padding: 0 20px;">
                        <dir-pagination-controls></dir-pagination-controls>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col l3 offset-l1 s12">
            <h3 class="section-title red-text">Top reviews</h3>
            <hr>
            <ul class="collection m-b-lg" ng-init="getTopReviews()">
                <li ng-show="isLoadingReviews" class="collection-item text-center"><span class="fa fa-circle-o-notch fa-spin"></span></li>
                <li ng-repeat="review in topReviews" class="collection-item avatar">
                    <a href=""><img src="{{review.img ? review.img : 'http://placehold.it/60x60'}}" class="square"></a>
                    <p class="m-b-md"><span class="blue-text">{{review.firstname}}</span> wrote for <a href="/services/{{review.service_id}}" class="text-sm_bold blue-text darken-4">{{review.business_name}}</a></p>
                    <p class="red-text">
                        <div stark-rating rating="review.value" read-only="true" max-rating="5" class="small-star"> </div>
                        <span class="grey-text meta-text">{{review.created | date:'mediumDate'}}</span></p>
                    <div class="review m-t-sm">
                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                        <p class="meta-text">{{review.review | limitTo: 120}}{{review.review.length < 120 ? '' : '...'}}</p>
                    </div>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
            </ul>
        </div>
    </div>
</section>