<section >
    <div class="row m-t-lg">
            <div class="col m6 offset-m1 s12">
                <h4 class="section-title red-text">Write your review</h4>
                <!-- {{service.id}} -->
                <hr>
                <div class="col m12">
                    <ul class="collection m-b-lg">
                        <li class="collection-item avatar">
                            <div class="row">
                                <div class="col s6">
                                    <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                                    <p class="m-b-md"><a href="" class="blue-text darken-4" ng-bind="service.business_name"></a></p>
                                    <p class="red-text"><i class="fa fa-star"></i> <span class="grey-text meta-text">6 Reviews</span></p>
                                    <p><span class="grey-text meta-text">Category</span></p>
                                    <div class="m-t-sm">
                                        <p class="meta-text"><a href=""><i class="fa fa-home">: </i>Business address</a></p>
                                        <p class="meta-text"><a href=""><i class="fa fa-phone">: </i>+1234567890</a></p>
                                        <p class="meta-text"><a href=""><i class="fa fa-envelope">: </i>email@example.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col s12 m-t-lg">
                        <h5>Your review <span class="meta-text pull-right blue-text">Read our review guidelines</span></h5>
                        <hr>
                            <div ng-init="rating"></div>
                            <div class="star-rating" star-rating rating-value="3" data-max="5" on-rating-selected="rateFunction(rating)" readonly="false"></div>
                            <span class="">Select a rating</span>
                            <div class="review m-t-lg">
                                <form name="reviewForm" class="form-horizontal" data-ng-submit="createReview()" novalidate>
                                    <div class="form-group" ng-class="{ 'has-error': reviewForm.title.$dirty && reviewForm.title.$invalid }">
                                        <div class="controls">
                                            <textarea name="business_description" data-ng-model="business_description" id="business_description" class="form-control" cols="30" rows="10" placeholder="Your review helps other learn about great local businesses"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-default" value="Post Review">
                                        <a href="" style="margin-left: 20px;">Cancel</a>
                                        <p class="meta-text m-t-sm grey-text lighten-3">* You can always edit or remove reviews later.</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m3 offset-m1 s12">
                <h4 class="section-title red-text">Reviews for Business</h4>
                <hr>
                <ul class="collection m-b-lg">
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                </ul>
            </div>
        </div>
</section>