<section class="row page" data-ng-controller="ServicesController">
    <div class="col m6 offset-m3 s12 sheet">
        <div class="">
            <h1 class="text-center green-text darken-4">New Service</h1>
            <div class="seperator m-b-lg">
                <span></span>
            </div>
                <!-- <div class="right"><span class="right m-b-lg">* indicates required</span></div> -->
        </div>
        <form name="serviceForm" autocomplete="off" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_name.$dirty && serviceForm.business_name.$invalid }">
                    <div class="help-block no-margin" ng-messages="serviceForm.business_name.$error" ng-minlength="3" ng-show="serviceForm.business_name.$touched">
                        <p ng-message="required">Business name can't be blank</p>
                        <p ng-message="minlength">Business name can't be less than 3 letters</p>
                    </div>
                    <div class="controls">
                        <input name="business_name" type="text" data-ng-model="business_name" id="business_name" class="form-control validate" placeholder="Business Name" ng-minlength="3" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_description.$dirty && serviceForm.business_description.$invalid }">
                    <div class="help-block no-margin" ng-messages="serviceForm.business_description.$error" ng-minlength="20" ng-show="serviceForm.business_description.$touched">
                        <p ng-message="required">Business description can't be blank</p>
                        <p ng-message="minlength">Business description cantitle't be less than 20 characters</p>
                    </div>
                    <!-- <div class="controls"> -->
                        <textarea name="business_description" data-ng-model="business_description" id="business_description" class="form-control" cols="30" rows="3" ng-minlength="20" placeholder="Tell us what your brand is about" required></textarea>
                    <!-- </div> -->
                </div>
                <div class="form-group">
                    <div class="controls">
                        <div class="file-field input-field">
                            <div class="btn" style="line-height: 1.2em;">
                                <span>Businees Logo</span>
                                <input type="file" id="service_img">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_category_id.$dirty && serviceForm.business_category_id.$invalid }" required>
                    <div class="help-block no-margin" ng-messages="serviceForm.business_category_id.$error" ng-minlength="3" ng-show="serviceForm.business_category_id.$touched">
                        <p ng-message="required">Select a category</p>
                    </div>
                    <div class="controls">
                        <select class="browser-default" data-ng-model="business_category_id" data-ng-options="k as v for (k,v) in categories" required>
                            <option value=''>Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_website.$dirty && serviceForm.business_website.$invalid }">
                    <div class="help-block no-margin" ng-messages="serviceForm.business_website.$error" ng-minlength="3" ng-show="serviceForm.business_website.$touched">
                        <p ng-message="required">Business website can't be blank</p>
                        <p ng-message="minlength">Business name can't be less than 3 letters</p>
                    </div>
                    <div class="controls">
                        <input name="business_website" type="text" data-ng-model="business_website" id="title" class="form-control" placeholder="Website">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_email.$dirty && serviceForm.business_email.$invalid }">
                    <div class="help-block no-margin" ng-messages="serviceForm.business_email.$error" ng-minlength="3" ng-show="serviceForm.business_email.$touched">
                        <p ng-message="required">Business email can't be blank</p>
                        <p ng-message="minlength">Business email number seems invalid</p>
                        <p ng-message="pattern">Business email must be in the right format</p>
                    </div>
                    <div class="controls">
                        <input name="business_email" type="email" data-ng-model="business_email" id="business_email" class="form-control" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_phone_number.$dirty && serviceForm.business_phone_number.$invalid }">
                    <div class="help-block no-margin" ng-messages="serviceForm.business_phone_number.$error" ng-minlength="3" ng-show="serviceForm.business_phone_number.$touched">
                        <p ng-message="required">Business phone number can't be blank</p>
                        <p ng-message="pattern">Phone number must be a valid number</p>
                    </div>
                    <div class="controls">
                        <input name="business_phone_number" type="tel" data-ng-model="business_phone_number" id="business_phone_number" class="form-control" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,7}$/" placeholder="Phone number" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_address.$dirty && serviceForm.business_address.$invalid }">
                   <!--  <div class="help-block no-margin" ng-messages="serviceForm.business_address.$error" ng-minlength="3" ng-show="serviceForm.business_address.$touched">
                        <p ng-message="required">Business address can't be blank</p>
                    </div> -->
                    <div class="controls">
                        <input name="business_address" type="text" data-ng-model="business_address" id="business_address" class="form-control" placeholder="Address">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_address_street.$dirty && serviceForm.title.$invalid }">
                    <!-- <div class="help-block no-margin" ng-messages="serviceForm.business_address_street.$error" ng-minlength="3" ng-show="serviceForm.business_address_street.$touched">
                        <p ng-message="required">Business address can't be blank</p>
                    </div> -->
                    <div class="controls">
                        <input name="business_address_street" type="hidden" data-ng-model="business_address_street" id="business_address_street" class="form-control" placeholder="Street address">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_address_city.$dirty && serviceForm.business_address_city.$invalid }">
                    <!-- <div class="help-block no-margin" ng-messages="serviceForm.business_address_city.$error" ng-minlength="3" ng-show="serviceForm.business_address_city.$touched">
                        <p ng-message="required">Business City can't be blank</p>
                    </div> -->
                    <div class="controls">
                        <input name="business_address_city" type="text" data-ng-model="business_address_city" id="business_address_city" class="form-control" placeholder="City">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_address_state.$dirty && serviceForm.business_address_state.$invalid }">
                    <!-- <div class="help-block no-margin" ng-messages="serviceForm.business_address_state.$error" ng-minlength="3" ng-show="serviceForm.business_address_state.$touched">
                        <p ng-message="required">Business State can't be blank</p>
                    </div> -->
                    <div class="controls">
                        <input name="business_address_state" type="text" data-ng-model="business_address_state" id="business_address_state" class="form-control" placeholder="State">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.business_address_country.$dirty && serviceForm.business_address_country.$invalid }">
                    <!-- <div class="help-block no-margin" ng-messages="serviceForm.business_address_country.$error" ng-minlength="3" ng-show="serviceForm.business_address_country.$touched">
                        <p ng-message="required">Business Country can't be blank</p>
                    </div> -->
                    <div class="controls">
                        <input name="business_address_country" type="text" data-ng-model="business_address_country" id="business_address_country" class="form-control" placeholder="Country">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input name="business_lat" type="hidden" data-ng-model="business_lat" id="business_lat" class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input name="business_long" type="hidden" data-ng-model="business_long" id="business_long" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn green white-text" ng-disabled="serviceForm.$invalid"><span ng-hide="isLoading">Submit </span><span ng-hide="!isLoading">Processing </span> <i ng-show="isLoading" class='fa fa-circle-o-notch fa-spin'></i></button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>