<section class="row page" data-ng-controller="ViewServicesController" data-ng-init="finder()">
    <div class="col m6 offset-m3 s12 sheet">
        <div class="">
            <h1 class="text-center green-text darken-4">Edit Service</h1>
            <div class="seperator m-b-lg">
                <span></span>
            </div>
        </div>
        <form name="serviceForm" class="form-horizontal" data-ng-submit="update(serviceForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_name" type="text" data-ng-model="service.business_name" id="business_name" class="form-control" placeholder="Business Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <textarea name="business_description" data-ng-model="service.business_description" id="business_description" class="form-control" cols="30" rows="10" placeholder="Tell us what your brand is about"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <select class="browser-default" data-ng-model="service.business_category_id" data-ng-options="k as v for (k,v) in categories" convert-to-number>
                            <option value=''>Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_website" type="text" data-ng-model="service.business_website" id="title" class="form-control" placeholder="Website" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_email" type="email" data-ng-model="service.business_email" id="business_email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_phone_number" type="tel" data-ng-model="service.business_phone_number" id="business_phone_number" class="form-control" placeholder="Phone number" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_address" type="text" data-ng-model="service.business_address" id="business_address" class="form-control" placeholder="Address" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_address_street" type="hidden" data-ng-model="service.business_address_street" id="business_address_street" class="form-control" placeholder="Street address">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_address_city" type="text" data-ng-model="service.business_address_city" id="business_address_city" class="form-control" placeholder="City" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_address_state" type="text" data-ng-model="service.business_address_state" id="business_address_state" class="form-control" placeholder="State" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_address_country" type="text" data-ng-model="service.business_address_country" id="business_address_country" class="form-control" placeholder="Country" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_lat" type="hidden" data-ng-model="service.business_lat" id="business_lat" class="form-control" >
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': serviceForm.title.$dirty && serviceForm.title.$invalid }">
                    <div class="controls">
                        <input name="business_long" type="hidden" data-ng-model="service.business_long" id="business_long" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>