<!-- <ul id="filter" class="dropdown-content">
    <li><a href="" ng-click="">Recent</a></li>
    <li><a href="">Top Rated</a></li>
</ul> -->
<section class="row page" data-ng-controller="ServicesController" data-ng-init="find()">
    <div class="ng-cloak">
        <!-- {{topReview | json}} -->

        <div class="col l6 offset-l1 s12 m-b-lg">
            <div>
                <div class="col m6 s12">
                    <h3 class="section-title red-text m-t-lg">Popular Services</h3>
                </div>
                <div class="col m6 s12">
                    <div class="list-group list-group-horizontal right" style="font-size: 10px;">
                        <!-- <a class="list-group-item filter-btn-padding" ng-click="setFilter()">All</a> -->
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-created')">Recent</a>
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-reviews.length');">Most Rated</a>
                        <a class="list-group-item filter-btn-padding" ng-click="setFilter('-avg_rating');">Top Rated</a>
                    </div>
                </div>
                <hr>
            </div>
            <!-- 
                <a href="" data-activates="filter"class="dropdown-button pull-right blue-text meta-text">Filter</a> -->
            
            <div class="col s10 offset-s1 alert alert-warning text-center" data-ng-hide="!resolve.$resolved || resolve.length">
                No Service yet, why don't you <span ng-if="!isAuthenticated"><a href="/signup">sign up</a> </span> <a href="/services/create" ng-if="isAuthenticated && user.roleTitle === ('merchant' || 'admin')">create one</a> <a href="/settings/accounts/profile" ng-if="isAuthenticated && user.roleTitle === 'user'"> send a merchant request</a> ?
            </div>
            <div class="col s12" ng-hide="loading">
                <ul class="collection center-align-mob" >
                    <li class="collection-item text-center">
                        <input ng-model="q" class="round-input-full" placeholder="Filter text">
                    </li> 
                    <li dir-paginate="service in allServices | orderBy: filter | filter:q | itemsPerPage: 20" class="collection-item service-avatar">
                        <div class="row">
                            <div class="col m8 s12">
                                <a href="">
                                    <img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid">
                                </a>
                                <p class="text-sm_bold m-b-sm" style="font-size: 18px; font-weight: 700"><a href="/services/{{service.id}}" class="blue-text darken-4" ng-bind="service.business_name"></a></>
                                <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                                <div class="m-t-sm">
                                    <p class="meta-text">{{service.business_description | limitTo: 120}}{{service.business_description.length < 120 ? '' : '...'}}</p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                    <p class="meta-text"><a href="" data-ng-bind="service.business_phone_number"><i class="fa fa-phone">: </i></a></p>
                                    <p class="meta-text"><a href="mailto:{{service.business_email}}" target="_blank"><i class="fa fa-envelope"></i> Send a mail</a></p>
                                    <p class="meta-text"><a href="//{{service.business_website}}" target="_blank"><i class="fa fa-globe"></i> Visit website</a></p>
                                </div>
                                <div class="hide-on-large m-t-lg">
                                    <h2 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h2>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col m4 sec-content hide-on-small-only">
                                <div class="text-center">
                                    <h1 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h1>
                                    <div stark-rating rating="service.avg_rating" read-only="true" max-rating="5" class="small-star"> </div>
                                    <p class="m-t-sm">{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                    <p class="m-t-lg">
                                        <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="collection-item text-center" style="padding: 0 20px;">
                        <dir-pagination-controls></dir-pagination-controls>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col l3 offset-l1 s12 m-b-lg">
            <h3 class="section-title red-text">Top reviews</h3>
            <hr>
            <ul class="collection m-b-lg">
                <li ng-show="isLoadingReviews" class="collection-item text-center"><span class="fa fa-circle-o-notch fa-spin"></span></li>
                <li ng-repeat="review in topReview" class="collection-item avatar">
                    <a href=""><img src="{{review.img ? review.img : 'http://placehold.it/60x60'}}" class="square"></a>
                    <p class="m-b-md"><span class="blue-text">{{review.firstname}}</span> wrote for <a href="/services/{{review.service_id}}" class="text-sm_bold blue-text darken-4">{{review.business_name}}</a></p>
                    <p class="red-text">
                        <div stark-rating rating="review.value" read-only="true" max-rating="5" class="small-star"> </div>
                        <span class="grey-text meta-text">{{review.created | date:'mediumDate'}}</span></p>
                    <div class="review m-t-sm">
                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                        <p class="meta-text">{{review.review | limitTo: 120}}{{review.review.length < 120 ? '' : '...'}}</p>
                    </div>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
            </ul>
        </div>
    </div>
</section>
