<!-- <ul id="filter" class="dropdown-content">
    <li><a href="" ng-click="">Recent</a></li>
    <li><a href="">Top Rated</a></li>
</ul> -->
<section class="row page" data-ng-controller="ServicesController" data-ng-init="find()">
    <div>
        <!-- {{services | json}} -->
        <div class="col m6 offset-m1 s12">
            <h3 class="section-title red-text">All Services<!-- 
                <a href="" data-activates="filter"class="dropdown-button pull-right blue-text meta-text">Filter</a> -->
            </h3>
            <hr>
            <ul class="collection">
                <li ng-repeat="service in serviceArray"class="collection-item service-avatar">
                    <div class="row">
                        <div class="col s8">
                            <a href="">
                                <img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid">
                            </a>
                            <p class="text-sm_bold m-b-sm"><a href="" class="blue-text darken-4" ng-bind="service.business_name"></a></p>
                            <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                            <div class="m-t-sm">
                                <p class="meta-text" ng-bind="service.business_description">.</p>
                                <p class="meta-text"><a href="" data-ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                <p class="meta-text"><a href="" data-ng-bind="service.business_phone_number"><i class="fa fa-phone">: </i>+1234567890</a></p>
                                <p class="meta-text"><a href="" data-ng-bind="service.business_email"><i class="fa fa-envelope">: </i>email@example.com</a></p>
                            </div>
                        </div>
                        <div class="col s4 sec-content">
                            <div class="text-center">
                                <h1 class="green-text lighten-2" ng-bind="service.avg_rating | number:1"></h1>
                                <div star-rating rating-value="service.avg_rating" max="5" readonly="true" class="small-star"></div>
                                <p>{{service.reviews.length}} <i class="fa fa-user"></i></p>
                                <p class="m-t-lg">
                                    <a href="/services/{{service.id}}" class="red-text">View Reviews</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="text-center" ng-show="user.roleTitle === 'merchant'"><a href="" ui-sref="createService" class="meta-text blue-text darken-4">Create new</a></li>
            </ul>
        </div>
        <div class="col m3 offset-m1 s12">
            <h3 class="section-title red-text">Top reviews</h3>
            <hr>
            <ul class="collection m-b-lg" ng-init="getTopReviews()">
                <li ng-show="isLoadingReviews" class="collection-item text-center"><span class="fa fa-circle-o-notch fa-spin"></span></li>
                <li ng-repeat="review in topReviews" class="collection-item avatar">
                    <a href=""><img src="{{review.img ? review.img : 'http://placehold.it/60x60'}}" class="square"></a>
                    <p class="m-b-md"><a href="" class="blue-text darken-4">{{review.firstname}}</a> wrote for <a href="/services/{{review.service_id}}" class="text-sm_bold blue-text darken-4">{{review.business_name}}</a></p>
                    <p class="red-text"><div star-rating rating-value="review.value" max="5" readonly="true" class="small-star"></div><span class="grey-text meta-text">{{review.created | date:'mediumDate'}}</span></p>
                    <div class="review m-t-sm">
                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                        <p class="meta-text">{{review.review}}...<a href="" class="blue-text darken-4">Read more</a>.</p>
                    </div>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="col s10 offset-s1 alert alert-warning text-center" data-ng-if="serviceArray.length === 0">
        No Service yet, why don't you <span ng-if="!isAuthenticated"><a href="/signup">sign up</a> </span> <a href="/services/create" ng-if="isAuthenticated && user.roleTitle === 'merchant'">create one</a> <a href="/settings/accounts/profile" ng-if="isAuthenticated && user.roleTitle === 'user'"> send a merchant request</a> ?
    </div>
</section>
