<section class="row page"  ng-controller="SearchController">
    <!-- {{searchResult | json}} -->

    <div class="col m6 offset-m3 s12">
        <h3 class="section-title red-text" ng-if="searchResult.length === 0">No results found for {{searchTerm}}</h3>
        <h3 class="section-title red-text" ng-if="searchResult.length > 0">Search result for {{searchTerm}}<!-- 
            <a href="" data-activates="filter"class="dropdown-button pull-right blue-text meta-text">Filter</a> -->
        </h3>
        <hr>
        <ul class="collection center-align-mob">
            <li ng-repeat="service in searchResult | orderBy:'-created'"class="collection-item service-avatar">
                <div class="row">
                    <div class="col s12">
                        <a href="">
                            <img src="{{service._source.images[0].url ? service._source.images[0].url : 'http://placehold.it/60x60'}}" class="square-mid">
                        </a>
                        <h4 class="text-sm_bold m-b-sm"><a href="/services/{{service._source.id}}" class="blue-text darken-4" ng-bind="service._source.business_name"></a></h4>
                        <p><span class="grey-text meta-text" ng-bind="categories[service._source.business_category_id]"></span></p>
                        <div class="m-t-sm">
                            <p class="meta-text">{{service._source.business_description | limitTo: 120}}{{service._source.business_description.length < 120 ? '' : '...'}}</p>
                            <p class="meta-text"><a href="" data-ng-bind="service._source.business_address"><i class="fa fa-home">: </i></a></p>
                            <p class="meta-text"><a href="" data-ng-bind="service._source.business_phone_number"><i class="fa fa-phone"></i></a></p>
                            <p class="meta-text"><a href="mailto:{{service._source.business_email}}" target="_blank"><i class="fa fa-envelope"></i> Send a mail</a></p>
                            <p class="meta-text"><a href="//{{service._source.business_website}}" target="_blank"><i class="fa fa-globe"></i> Visit website</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center" ng-show="user.roleTitle === 'merchant'"><a href="" ui-sref="createService" class="meta-text blue-text darken-4">Create new</a></li>
        </ul>
        <p class="m-b-xlg">Can't find what you're looking for? <span ng-if="!isAuthenticated"><a ui-sref="signin" href="#" class="green-text darken-4">Login</a> and add the business</span><span ng-if="user.roleTitle === ('merchant' || 'admin')"><a ui-sref="createService" href="">Add a business</a></span><span ng-if="user.roleTitle === 'user'"><a class="green-text darken-4" href="/settings/accounts/profile">Become a merchant</a> and add businesses</span></p>
    </div>
</section>
