<!-- <section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="service.business_name"></h1>
    </div>
    <div class="pull-right" data-ng-show="user.id == service.merchant_id">
        <a class="btn btn-primary" href="/services/{{service.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="service.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="service.merchant_id"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="service.business_description"></p>
    <p class="lead" data-ng-bind="service.business_address_city"></p>
</section> -->
<section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <section id="business_detail">
        <div class="row green lighten-5" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
            <div class="col m6 s12">
                <img src="http://placehold.it/200x200" class="img img-thumbnail" style="float: left; margin: 20px;">
                <h1 data-ng-bind="service.business_name"></h1>
                <div ng-init="rating - 1"></div>
                <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                <span class="meta-text">1004 Reviews</span>
                <p ng-bind="service.business_description"></p>
            </div>
            <div class="col m6 s12">
                <!-- <a href="" class="btn green darken-2 white-text m-t-lg"><i class="fa fa-star"></i> Write Review</a> -->
                <div class="list-group list-group-horizontal m-t-lg">
                    <a href="#" ui-sref="createReview" class="list-group-item"><i class="fa fa-star"></i> Write a Review</a>
                    <a href="#" class="list-group-item"><i class="fa fa-camera"></i> Add Photo</a>
                    <a href="#" data-ng-show="user.id == service.merchant_id" class="list-group-item"><i class="fa fa-edit"></i> Edit</a>
                    <a href="#" data-ng-show="user.id == service.merchant_id" class="list-group-item"><i class="fa fa-remove"></i> Delete</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m7 offset-m1 s12">
                <h2>Recommended Reviews</h2>
                <div class="col m12">
                    <ul class="collection m-b-lg">
                        <li class="collection-item avatar">
                            <div class="row">
                                <div class="col s4">
                                    <a href=""><img src="{{user.image_url}}" class="square"></a>
                                    <p class="m-b-md"><a href="" class="blue-text darken-4">{{user.displayname}}</a></p>
                                    <p class="red-text"><i class="fa fa-star"></i> <span class="grey-text meta-text">6 Reviews</span></p>
                                </div>
                                <div class="col s8">
                                    <div ng-init="rating"></div>
                                    <div class="star-rating" star-rating rating-value="3" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                                    <span class="meta-text">08/07/2016</span>
                                    <div class="review m-t-sm">
                                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                        <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes.</p>
                                    </div>
                                    <p class="m-t-md">
                                        <img src="http://placehold.it/300x300" class="img img-responsive">
                                    </p>
                                    <p class="m-t-md">What do you think of this review?
                                        <a href=""><span><i class="fa fa-thumbs-o-up"></i>Like</span></a> 
                                        <a href=""><span><i class="fa fa-thumbs-o-down"></i>Dislike</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                        <li class="collection-item avatar">
                            <div class="row">
                                <div class="col s4">
                                    <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                                    <p class="m-b-md"><a href="" class="blue-text darken-4">Some Other</a></p>
                                    <p class="red-text"><i class="fa fa-star"></i> <span class="grey-text meta-text">36 Reviews</span></p>
                                </div>
                                <div class="col s8">
                                    <div ng-init="rating"></div>
                                    <div class="star-rating" star-rating rating-value="5" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                                    <span class="meta-text">08/07/2016</span>
                                    <div class="review m-t-sm">
                                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                        <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes.</p>
                                    </div>
                                    <p class="m-t-md">
                                        <img src="http://placehold.it/300x300" class="img img-responsive">
                                    </p>
                                    <p class="m-t-md">What do you think of this review?
                                        <a href=""><span><i class="fa fa-thumbs-o-up"></i>Like</span></a> 
                                        <a href=""><span><i class="fa fa-thumbs-o-down"></i>Dislike</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                        <li class="collection-item avatar">
                            <div class="row">
                                <div class="col s4">
                                    <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                                    <p class="m-b-md"><a href="" class="blue-text darken-4">Another Person</a></p>
                                    <p class="red-text"><i class="fa fa-star"></i> <span class="grey-text meta-text">44 Reviews</span></p>
                                </div>
                                <div class="col s8">
                                    <div ng-init="rating"></div>
                                    <div class="star-rating" star-rating rating-value="4" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                                    <span class="meta-text">08/07/2016</span>
                                    <div class="review m-t-sm">
                                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                        <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes.</p>
                                    </div>
                                    <p class="m-t-md">
                                        <img src="http://placehold.it/300x300" class="img img-responsive">
                                    </p>
                                    <p class="m-t-md">What do you think of this review?
                                        <a href=""><span><i class="fa fa-thumbs-o-up"></i>Like</span></a> 
                                        <a href=""><span><i class="fa fa-thumbs-o-down"></i>Dislike</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
