<section data-ng-controller="ViewServicesController" data-ng-init="finder()">
    <section>
        <div class="row green lighten-5" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
            <div class="col m6 s12" id="business_detail">
                <ul class="m-t-lg collection">
                    <li class="collection-item service-avatar">
                        <div class="row">
                            <div class="col s12">
                                <a href=""><img src="{{service.images[0].url ? service.images[0].url : 'http://placehold.it/200x200'}}" class="square-mid"></a>
                                <p class="text-sm_bold m-b-sm" ng-bind="service.business_name" style="font-size: 18px; font-weight: 700">
                                    <a href="" class="blue-text darken-4"></a>
                                </p>
                                <p><span class="grey-text meta-text" ng-bind="categories[service.business_category_id]"></span></p>
                                <div class="m-t-sm">
                                    <div star-rating rating-value="avg_rating" max="5" readonly="true"></div>
                                    <!-- {{service.average_rating}} -->
                                    <!-- <div stark-rating rating="avg_rating" read-only="true" max-rating="5" > </div> -->
                                    <span>{{service.reviews.length}} Review</span><span ng-if="service.reviews.length > 1">s</span>
                                    <p class="meta-text m-t-md" ng-bind="service.business_description"></p>
                                    <p class="meta-text"><a href="" ng-bind="service.business_address"><i class="fa fa-home">: </i></a></p>
                                    <p class="meta-text"><a href="" ng-bind="service.business_phone_number"><i class="fa fa-phone">: </i></a></p>
                                    <p class="meta-text"><a href="mailto:{{service.business_email}}" target="_blank"><i class="fa fa-envelope"></i> Send a mail</a></p>
                                    <p class="meta-text"><a href="//{{service.business_website}}" target="_blank"><i class="fa fa-globe"></i> Visit website</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col m6 s12">
                <!-- <a href="" class="btn green darken-2 white-text m-t-lg"><i class="fa fa-star"></i> Write Review</a> -->
                <div class="list-group list-group-horizontal m-t-lg">
                    <a class="list-group-item" ng-click="toggleReview()"><i class="fa fa-star"></i> Write a Review</a>
                    <a href="/services/{{service.id}}/edit" data-ng-show="user.id == service.merchant_id" class="list-group-item"><i class="fa fa-edit"></i> Edit</a>
                    <a data-ng-show="user.id == service.merchant_id" class="list-group-item" data-ng-click="remove();"><i class="fa fa-remove"></i> Delete</a>
                </div>
                <div>
                    <div class="star-detail">
                        <span>5 <i class="fa fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{service.percentage_five}}%;">
                                {{service.no_of_rating_five}}
                            </div>
                        </div>
                    </div>
                    <div class="star-detail">
                        <span>4 <i class="fa fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{service.percentage_four}}%;">
                                {{service.no_of_rating_four}}
                            </div>
                        </div>
                    </div>
                    <div class="star-detail">
                        <span>3 <i class="fa fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{service.percentage_three}}%;">
                                {{service.no_of_rating_three}}
                            </div>
                        </div>
                    </div>
                    <div class="star-detail">
                        <span>2 <i class="fa fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{service.percentage_two}}%;">
                                {{service.no_of_rating_two}}
                            </div>
                        </div>
                    </div>
                    <div class="star-detail">
                        <span>1 <i class="fa fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{service.percentage_one}}%;">
                                {{service.no_of_rating_one}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-lg" ng-show="showReview">
            <div class="col m6 offset-m1 s12">
                <h4 class="section-title red-text">Write your review<span class="meta-text pull-right blue-text">Read our review guidelines</span></h4>
                <hr>
                <div class="col m12">
                    <div class="row">
                        <div class="col s12 m-t-lg">
                            <!-- <div star-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)"></div> -->
                            <div stark-rating rating="starRating1" read-only="false" max-rating="5" click="click1(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave1(param)"> </div> 
                            <span ng-class="hoverClass" class="label rating-value">{{hoverRating1}}</span>
                            <div> 
                                <!-- <span class="label label-primary">Star Rating: {{starRating1}}</span> -->
                                <!-- <span class="label label-success">{{hoverRating1}}</span> -->

                            </div>
                            <div class="review m-t-lg">
                                <form name="reviewForm" class="form-horizontal" data-ng-submit="createReview()" novalidate>
                                    <div class="form-group" ng-class="{ 'has-error': reviewForm.review.$dirty && reviewForm.review.$invalid }">
                                        <div class="controls">
                                            <textarea name="review" data-ng-model="review" id="review" class="form-control" cols="30" rows="3" placeholder="Your review helps other learn about great local businesses"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a ui-sref="signin" ng-if="!isAuthenticated" class="btn green white-text">Login to write a review</a>
                                        <a ng-if="isAuthenticated" ng-click="createReview()"  class="btn btn-post">Post Review</a>
                                        <a href="" style="margin-left: 20px;" ng-click="reset()">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m6 s12">
                <div ng-hide="user.id === service.merchant_id || reviews.length">
                    <h4>No review yet. Be the first to <a ng-click="toggleReview()">write a review.</a></h4>
                </div>
                <div class="col m12">
                <h3 class="section-title red-text flow-text">Recommended Reviews</h3>
                    <hr>
                    <ul class="collection m-b-lg">
                        <li ng-repeat="review in reviews | orderBy: '-created' | limitTo:10" class="collection-item avatar">
                            <div class="row">
                                <div class="col s4">
                                    <a href=""><img src="{{review.User.image_url}}" class="square"></a>
                                    <p class="m-b-md blue-text darken-4">{{review.User.displayname}}</p>
                                    <p><i class="fa fa-star red-text"></i> {{review.totalRev}} Review<span ng-if="review.totalRev > 1">s</span></span></p>
                                </div>
                                <div class="col s8">
                                    <!-- <div star-rating rating-value="review.value" max="5" readonly="true"></div> -->
                                    <div stark-rating rating="review.value" read-only="true" max-rating="5" class="mid-star"> </div>
                                    <span class="meta-text">{{review.created | date:'mediumDate'}}</span>
                                    <div class="review m-t-md">
                                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                        <p ng-bind="review.review"></p>
                                    </div>
                                    <!-- <p class="m-t-md">
                                        <img src="http://placehold.it/300x300" class="img img-responsive">
                                    </p> -->
                                    <p class="meta-text m-t-md hide-on-tabs">
                                        <span class="m-t-md">Helpful? <a href="" class="btn btn-upvote" ng-click="like(review)"><span><i class="fa fa-thumbs-o-up"></i> {{review.no_of_likes}}</span><span> Like</span><span ng-if="review.no_of_likes > 1">s</span></a> 
                                        <a href="" class="red-text" ng-click="dislike(review)"><span><i class="fa fa-thumbs-o-down"></i> {{review.no_of_dislikes}}</span><span> Dislike</span><span ng-if="review.no_of_dislikes > 1">s</span></a></span>
                                    </p>
                                    <div class="hide-on-laps m-t-lg">
                                        <p class="grey-text m-b-md"><span>Helpful?</span></p>
                                        <a href="" class="m-r-md" ng-click="like(review)"><span><i class="fa fa-thumbs-o-up"></i> {{review.no_of_likes}}</span><span> Like</span><span ng-if="review.no_of_likes > 1">s</span></a>
                                        <a href="" class="red-text" ng-click="dislike(review)"><span><i class="fa fa-thumbs-o-down"></i> {{review.no_of_dislikes}}</span><span> Dislike</span><span ng-if="review.no_of_dislikes > 1">s</span></a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col m4 offset-m1 s12">
                <h3 class="section-title red-text flow-text">People also reviewed</h3>
                <hr>
                <ul class="collection m-b-lg">
                    <li ng-repeat="review in topReviews" class="collection-item avatar">
                        <a href=""><img src="{{review.img ? review.img : 'http://placehold.it/60x60'}}" class="square"></a>
                        <p class="m-b-sm"><a href="" class="blue-text darken-4">{{review.firstname}}</a> wrote for <a href="/services/{{review.service_id}}" class="text-sm_bold blue-text darken-4">{{review.business_name}}</a></p>
                        <p class="red-text"><div stark-rating rating="review.value" read-only="true" max-rating="5" class="small-star"> </div><span class="grey-text meta-text">{{review.created | date:'mediumDate'}}</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">{{review.review | limitTo: 120}}{{review.review.length < 120 ? '' : '...'}}.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
