<!-- <section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="service.business_name"></h1>
    </div>
    <div class="pull-right" data-ng-show="user.id == service.merchant_id">
        <a class="btn btn-primary" href="/services/{{service.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="service.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="service.merchant_id"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="service.business_description"></p>
    <p class="lead" data-ng-bind="service.business_address_city"></p>
</section> -->
<section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <section id="business_detail">
        <div class="row green lighten-5" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
            <div class="col m6 s12">
                <img src="{{service.images[0].url}}" class="img img-thumbnail img-responsive" style="float: left; margin: 20px; width: 200px;">
                <h1 data-ng-bind="service.business_name"></h1>
                <div ng-init="rating - 1"></div>
                <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                <span class="meta-text">{{service.reviews.length}} Reviews</span>
                <p data-ng-bind="categories[service.business_category_id]"></p>
                <p data-ng-bind="service.business_description">We sell the best amala money can buy.</p>
                <div class="m-t-sm">
                    <p class="meta-text"><a href="" data-ng-bind="service.business_address"><i class="fa fa-home">: </i>Business address</a></p>
                    <p class="meta-text"><a href="" data-ng-bind="service.business_phone_number"><i class="fa fa-phone">: </i>+1234567890</a></p>
                    <p class="meta-text"><a href="" data-ng-bind="service.business_email"><i class="fa fa-envelope">: </i>email@example.com</a></p>
                </div>
            </div>
            <div class="col m6 s12">
                <!-- <a href="" class="btn green darken-2 white-text m-t-lg"><i class="fa fa-star"></i> Write Review</a> -->
                <div class="list-group list-group-horizontal m-t-lg">
                    <a href="#" ui-sref=".createReview" class="list-group-item"><i class="fa fa-star"></i> Write a Review</a>
                    <a href="/services/{{service.id}}/edit" data-ng-show="user.id == service.merchant_id" class="list-group-item"><i class="fa fa-edit"></i> Edit</a>
                    <a href="#" data-ng-show="user.id == service.merchant_id" class="list-group-item" data-ng-click="remove();"><i class="fa fa-remove"></i> Delete</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
        <div class="row">
            <div class="col m6 offset-m1 s12">
                <h3>Recommended Reviews</h3>
                <div class="col m12">
                    <ul class="collection m-b-lg">
                        <li ng-repeat="review in reviews | orderBy: '-created' | limitTo:10" class="collection-item avatar">
                            <div class="row">
                                <div class="col s4">
                                    <a href=""><img src="{{user.image_url}}" class="square"></a>
                                    <p class="m-b-md"><a href="" class="blue-text darken-4">{{review.user_id}}</a></p>
                                    <p class="red-text"><i class="fa fa-star"></i> <span class="grey-text meta-text">6 Reviews</span></p>
                                </div>
                                <div class="col s8">
                                    <div ng-init="rating"></div>
                                    <div class="star-rating" star-rating rating-value="3" data-max="5" on-rating-selected="rateFunction(rating)" readonly="isReadonly"></div>
                                    <span class="meta-text">{{review.created | date:'mediumDate'}}</span>
                                    <div class="review m-t-sm">
                                        <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                                        <p class="meta-text" ng-bind="review.review"></p>
                                    </div>
                                    <!-- <p class="m-t-md">
                                        <img src="http://placehold.it/300x300" class="img img-responsive">
                                    </p> -->
                                    <p class="m-t-md">What do you think of this review?
                                        <a href=""><span><i class="fa fa-thumbs-o-up"></i>Like</span></a> 
                                        <a href=""><span><i class="fa fa-thumbs-o-down"></i>Dislike</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col m3 offset-m1 s12">
                <h3 class="section-title red-text">People also reviewed</h3>
                <!-- <hr> -->
                <ul class="collection m-b-lg">
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href=""><img src="http://placehold.it/60x60" class="square"></a>
                        <p class="m-b-md"><a href="" class="blue-text darken-4">User Name</a> wrote for <a href="" class="text-sm_bold blue-text darken-4">Company   Name</a></p>
                        <p class="red-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> <span class="grey-text meta-text">24/06/16</span></p>
                        <div class="review m-t-sm">
                            <!-- <a href=""><img src="http://placehold.it/30x30" class="avatar"></a> -->
                            <p class="meta-text">First Line comes with a stint of sadness but if you can get past through the first few minutes...<a href="" class="blue-text darken-4">Read more</a>.</p>
                        </div>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
