<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>
    <base href="/">
	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="business, rating, reviews">
	<meta name="description" content="Raytee is your online platform to find all local businesses, read reviews and to help make purchase decision simpler for consumers in Africa">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="Raytee">
	<meta property="og:title" content="Welcome to Raytee.com">
	<meta property="og:description" content="Raytee is your online platform to find all local businesses, read customers reviews and make informed decisions">
	<meta property="og:url" content="http://www.raytee.com">
	<meta property="og:image" content="modules/core/img/raytee.3png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="Welcome to Raytee.com">
	<meta name="twitter:description" content="Raytee is your online platform to find all local businesses, read customers reviews and make informed decisions">
	<meta name="twitter:url" content="http://www.raytee.com">
	<meta name="twitter:image" content="modules/core/img/raytee.3png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/raytee.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Loading bar -->
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900' rel='stylesheet' type='text/css'>
	<!-- Font Awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
	<!-- Angular-Material -->
	<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
	<!-- Materializecss -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<!-- Materialize Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84016519-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class=""></header>
	<section class="content  grey lighten-4">
		<!-- <section class=""> -->
			{% block content %}{% endblock %}
		<!-- </section> -->
        <toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
	</section>
	<footer data-ng-include="'/modules/core/views/footer.client.view.html'" class=""></footer>
	<!--Application JavaScript Files-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 
    <script src="lib/elasticsearch/elasticsearch.angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angularUtils-pagination/dirPagination.js"></script>
    <script src="lib/chart.js/dist/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/angular-charts/dist/angular-charts.min.js"></script>
    <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<!--script type="text/javascript" src="http://localhost:35729/livereload.js"></script-->

	{% endif %}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '182675558801654',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   77nkvkfse2202g
    </script>
    <!-- Twitter universal website tag code -->
    <script>
    ! function(e, n, u, a) {
        e.twq || (a = e.twq = function() {
                a.exe ? a.exe.apply(a, arguments) :
                    a.queue.push(arguments);
            }, a.version = '1', a.queue = [], t = n.createElement(u),
            t.async = !0, t.src = '//static.ads-twitter.com/uwt.js', s = n.getElementsByTagName(u)[0],
            s.parentNode.insertBefore(t, s))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'nvgwd');
    twq('track', 'PageView');
    </script>
    <!-- End Twitter universal website tag code -->
</body>

</html>
