<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>
    <base href="/">
	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,300,200,200italic,600,500italic,700,800,900' rel='stylesheet' type='text/css'>
	<!-- Font Awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
	<!-- Angular-Material -->
	<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
	<!-- Materializecss -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<!-- Materialize Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class=""></header>
	<section class="content container grey lighten-4">
		<!-- <section class=""> -->
			{% block content %}{% endblock %}
		<!-- </section> -->
        <toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
	</section>
	<footer data-ng-include="'/modules/core/views/footer.client.view.html'" class=""></footer>
	<!--Application JavaScript Files-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

	{% endif %}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '182675558801654',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   77nkvkfse2202g
    </script>
</body>

</html>
